# plots and folders containing plots/figures
lc_plots/
lc_plots_2025/
figs/
hr_diagrams/


# folders I never check, caches and checkpoints
.ipynb_checkpoints/
logs_parallel/
__pycache__/
synth_phot_sed_fit_ex/

# folder containing extra old copies of python and jupyter files
extras/
offsets_examples/
old_summary_results/


# folders containing data that is important but too big to store
mag_amp_divisions/
sub2/
sub2025/
sub2025_V2/
pysynphot_data/grid/bosz/r2000/m-0.75/
pysynphot_data/grid/bosz/r2000/m-0.25/
pysynphot_data/grid/pickles/
pysynphot_data/pickles_catalog.csv
pysynphot_data/grid/bosz/r500/
temp_fitting/
crossmatch_contamination/

#files
mc_cand_mcp.tgz
summary_results16.csv
summary_results17.csv
synphot1.tar.gz
ysg_temp_fitting_summary.csv
synth_phot_sed_fit_ex.zip
ysg_with_pysynphot.yaml
gaia_names
eRASS1_HMXB_LMC_v1.0.fits




